<h1>The Cause</h1>
<p>We partner with global designers who are faced with serious local issues.  We then help them distribute their designs/clothing and give back 90% of profits (the other 10% will go to maintaining the site) to help them solve issues in their communities.</p>
